{
  "singleQuote": true,
  "printWidth": 80,
  "importOrder": [
    "^@assets/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@logic/(.*)$",
    "^@styles/(.*)$",
    "^@utils/(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true
}
