@import "_styles/theme";

.start{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  h1{
    color: $yellow83;
    font-size: 2rem;
    margin-bottom: 8px;
  }

  h2 {
    color: $yellow83;
    font-size: 1.5rem;
    margin-bottom: 32px;
  }
}


.playerslist{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 32px;
  border: 3px solid $white;
  border-radius: 8px;
  box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 50%), 0 3px 0 0 rgb(0 0 0 / 50%);

  .player{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;

    > img{
      width: 100px;
      height: 100px;
      margin-bottom: 4px;
      border-radius: 50%;
    }

    > p{
      max-width: 100px;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

.buttonwrapper{
  > button{
    font-weight: bold;
    text-transform: uppercase;
  }
}